<div class=" book-page">
<div class="card mb-3" (click)="onBookClick(book.id)">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="http://localhost:8090/{{ book.coverImage }}" class="img-fluid rounded-start" alt="{{ book.title }}">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">{{ book.title }}</h5>
          <p class="card-text">{{ book.description }}</p>
          <p><strong>Author:</strong> {{ book.author }}</p>
          <p><strong>Publication Year:</strong> {{ book.publicationYear }}</p>
          <p><strong>Genres:</strong> {{ book.genres }}</p>
        </div>
      </div>
    </div>
  </div>
</div>